/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2467af;
  overflow: hidden; /* Adiciona esta linha para esconder a barra de rolagem */
}

.imagem {
  width: 100%;
  height: auto; /* Isso garante que a altura seja ajustada proporcionalmente à largura */
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner pai */
}

/* Estilo do botão */
.meu-botao {
  width: 543px;
  height: 48px;
  background-color: #e5ae35;
  color: #2467af;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos específicos para telas pequenas (por exemplo, celulares) */
@media screen and (max-width: 768px) {
  .imagem {
    width: 100%; /* Define a largura da imagem como 100% da tela em telas menores que 768px */
  }
  .meu-botao {
    width: 100%; /* O botão ocupa toda a largura da tela em telas menores */
  }
}




