/* Font Import */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2467af;
  overflow: hidden;
}

/* Adiciona padding para evitar que a imagem ultrapasse as bordas do body */
body {
  padding: 20px;
}

.imagem {
  width: 100%;
  height: auto;
  max-width: calc(100% - 20px); /* Ajusta a largura máxima da imagem para considerar o padding do body */
  border-radius: 10px;
  margin: auto; /* Centraliza verticalmente na tela */
}

/* Estilo do botão */
.meu-botao {
  width: 543px;
  height: 48px;
  background-color: #e5ae35;
  color: #2467af;
  border: none;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

/* Estilos específicos para telas pequenas (por exemplo, celulares) */
@media screen and (max-width: 768px) {
  .imagem {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
  .meu-botao {
    width: 100%;
  }
}

/* Estilos específicos para telas maiores que 768px e maiores que 900px de largura e 900px de altura */
@media screen and (min-width: 769px) and (min-width: 900px) and (min-height: 900px) {
  .imagem {
    max-width: 100%; /* Ajusta a largura máxima da imagem para 100% da tela */
    width: 100%; /* Faz a imagem ocupar 100% da largura do contêiner */
    margin: 0 auto 10px;
  }
  .meu-botao {
    width: 543px;
  }
}

/* Estilos específicos para telas maiores que 2400px */
@media screen and (min-width: 2401px) {
  .imagem {
    margin: 10px; /* Adiciona margem de 10px */
    padding: 10px; /* Adiciona padding de 10px */
  }
}
